* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

img {
    display: block;
    max-width: 100%;
}

body {

    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

/*Header Start*/

header {
    padding: 21px 0;
}

header .logo {
    width: 20%;
    float: left;
}

header .logo a {
    text-decoration: none;
}

header .logo h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #204f87;
}

.nav {
    width: 80%;
    float: left;
}

.nav ul {
    text-align: right;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 0;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #204f87;
    display: block;
    padding: 0 0 0 10px;
    margin-left: 18px;
    font-weight: 600;
    border-left: 2px solid #f15e2b00;
    font-family: 'Montserrat';
    transition: all 0.3s ease;
}

.nav ul li a:hover {
    border-left: 2px solid #f15e2b;
    color: #f15e2b;
}


/*Header End*/





/*Banner Section Start*/

.banner-section {
    min-height: 90vh;
    width: 100%;
    background-image: url(../images/banner_front.png), url(../images/banner_bg.png);

    background-position: right left;
    background-size: cover contain;
    background-repeat: no-repeat no-repeat;
    position: relative;
}

.banner-section .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.banner-section .banner-content h1 {
    font-size: 69px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.banner-section .banner-content a {}

.banner-section .down-arrow {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 22px;
}

/*Banner Section End*/


/*About Us Section Start*/
.about-us {
    padding: 80px 0;
}

.who-we-are-content {
    width: 50%;
    float: left;
    margin-top: 30px;
}

.who-we-are-content p {
    font-size: 15px;
    color: #6b6b6b;
    line-height: 26px;
    padding-top: 20px;
}

.heading {}

.heading span {
    display: inline-block;
    height: 4px;
    width: 60px;
    background-color: #f2622c;
    margin-bottom: 3px;
}

.heading h1 {
    color: #484f56;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

.who-we-are-image {
    float: right;
}

.who-we-are-image img {}

/*About Us Section End*/



/*What we do Section Start*/
.what-we-do-section {
    padding: 80px 0;
    background: #f7f8f8;
    background-image: url(../images/service_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 80%;
}

.what-we-do-section .heading {
    text-align: center;
    margin-bottom: 80px;
}

.what-we-do {
    width: 33.33%;
    float: left;
    padding: 10px;
}

.what-we-do-content {
    position: relative;
}

.what-we-do-content:before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #204f879e;
    opacity: 0;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;

}

.what-we-do-content:hover:before {
    content: "";
    opacity: 1;
    width: 100%;

}

.what-we-do-content:hover h3 {
    left: 50%;
    opacity: 1;
}

.what-we-do-content img {
    width: 100%;
    display: block;
}

.what-we-do-content h3 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #fff;
    display: inline-block;
    opacity: 0;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.what-we-do-content:hover a {
    left: 50%;
    opacity: 1;
}

.what-we-do-content a {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: #fff;
    font-size: 30px;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.what-we-do-content a i {}

/*What we do Section End*/



/*Our Attorneys Section Start*/

.attorneys-section {
    padding: 80px 0;
    background-image: url(../images/Trainner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.attorneys-content {
    width: 30%;
    float: left;
}

.attorneys-content .heading {}

.attorneys-content .heading span {}

.attorneys-content .heading h1 {
    color: #fff;
}

.attorneys-content p {
    font-size: 15px;
    color: #ffffff94;
    line-height: 26px;
    padding-top: 20px;
}

.attorneys-profile {
    float: right;
    width: 70%;
}

.attorneys-content a {
    text-decoration: none;
    color: #f2622c;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-top: 50px;
    display: block;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.attorneys-content a:hover {
    color: #fff;
}

.attorneys-area {
    float: left;
    width: 50%;
    padding: 10px;

}

.attorneys {
    position: relative;
}

.attorneys:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-image: linear-gradient(0deg, #f25e3c, transparent, transparent);
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    opacity: 0;
    z-index: 1;
}

.attorneys:hover:after {
    content: "";
    opacity: 1;
    height: 100%;
}



.attorneys-profile .attorneys img {
    width: 100%;
}

.attorneys-profile .attorneys h2 {
    position: absolute;
    left: 0;
    bottom: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.7;
    z-index: 2;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    opacity: 0;
}

.attorneys-profile .attorneys:hover h2 {
    opacity: 1;
    left: 50px;
}

/*Our Attorneys Section End*/


/*Lanuage Section Start*/
.language-section {
    padding: 80px 0;
}

.language-section .heading {
    text-align: center;
}

.language-section .heading span {}

.language-section .heading h1 {}

.language {
    width: 25%;
    float: left;
    padding: 0 15px;
    margin-top: 50px;
}

.language h2 {
    color: #204f87;
    text-transform: uppercase;
    font-size: 24px;
}

.language p {
    font-size: 15px;
    color: #6b6b6b;
    line-height: 26px;
    padding-top: 20px;
}

.language a {
    text-decoration: none;
    color: #f2622c;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    display: block;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.language a:hover {
    color: #204f87;
}


/*Lanuage Section End*/



/*Contact Us Section Start*/

.contact-us-section {
    padding: 80px 0;
    background: #28377e;
}

.contact-us-section .heading {
    text-align: center;
}

.contact-us-section .heading span {}

.contact-us-section .heading h1 {
    color: #fff;
}

.form-content {
    width: 550px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.form-content form {
    text-align: center;
}

.form-content input {
    width: 100%;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 5px 0;
    font-family: 'Roboto';
}

.form-content textarea {
    width: 100%;
    margin-bottom: 30px;
    font-weight: 300;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Roboto';
    font-size: 18px;
}

.form-content textarea:focus{
    outline: none;
}

.form-content ::placeholder{
    color: #fff3;
}
.form-content input:focus{
    outline: none;
}

.form-content .btn {
    text-transform: uppercase;
    font-size: 16px;
    padding: 11px 48px;
    background-color: #f2622c;
    border: none;
    color: #fff;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    
}
.form-content .btn:hover{
    background-color: #fff;
    color: #28377e;
    cursor: pointer;
    
}
/*Contact Us Section End*/


/*Footer Start*/
footer {
    background: #0c1234;
    padding: 39px 0;
}

.copyright {
    width: 50%;
    float: left;
}

.copyright p {
    color: #b1b8dd;
    font-size: 14px;
    padding-top: 2px;
}

.social-link {
    float: left;
    width: 50%;
}

.social-link ul {
    text-align: right;
}

.social-link ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.social-link ul li a {
    color: #b1b8dd;
    font-size: 18px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.social-link ul li a:hover {
    color: #f2622c;
}

/*Footer End*/
